html{
    box-sizing: border-box;
    font: 62.8%
}
body{
    margin: 0;
    height: 100vh;
    font: 1.6rem Helvetica;
}
.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.brand-link a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
}
.header-links a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}
.header-links a:hover{
    color: #ff8032;
}
.main{
    grid-area: main;

}
.footer{
    grid-area: footer;
    color: #ffffff;
    background-color: #203040;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* home-screen-product */
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem 2rem;
}

/* .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

} */
.products li{
    flex: 0 1 22rem;
    margin: 1rem;
    height: 27rem;
    list-style: none;
    border-bottom: .1rem solid #5555;
}
.product-name a{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0.7rem;
}
.product-name a:hover{
    color: #ff8000;
}
.product-brand{
    font-size: 1.5rem;
    color: #808080;
    margin-top: 0.7rem;
}
.price{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.7rem;
}
.product-rating{
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;

}

/* side-bar-style */
.sidebar{
    position: fixed;
    top: 0rem;
    height: 100%;
    width: 23rem;
    background-color: #efeff6;
    padding-top: 1rem;
    padding-left: 0.7rem;
    transform: translateX(-30rem);
    transition: transform .7s;
}
.sidebar-cliked{
    transform: translateX(0rem);
    transition: transform .7s;
}
.close-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-sidebar button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    border: 0.1rem solid #000000;
    margin-right: 0.5rem;
}
.sidebar-links ul{
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}
.sidebar-links ul li{
    margin-top: 1rem;
}
.sidebar-links ul li a{
    text-decoration: none;
}
.sidebar-links ul li a:hover{
    color: #ff8000;
}
.close-sidebar button:focus{
    outline: none;
}
.brand-link button{
    font-size: 1.9rem;
    padding: .4rem;
    background-color: #203040;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.brand-link button:focus{
    outline: none;
}
